*{
    margin: 0 auto;
    text-align: center;
}
body{
    background: green;
}
td,option,h1{
    font-size: larger;
    font-family: cursive;
}
input , select{
    font-family: cursive;
    border-radius: 8px;
}
.upper{
    width: 700px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background: gold;
    padding-bottom: 10px;
    border-radius: 12px;
}

select{
    width: 200px;
    font-size: large;
}
button{
    background: blueviolet;
    font-size: larger;
    font-weight: 700;
    font-family: cursive;
    border-radius: 12px;
    border:solid outset black;
    box-shadow: 3px 3px black;
}
button:hover, button:active {
    background-color: green;
  }
.lower{
    margin-top: 20px;
}