*{
    margin: auto;
    text-align: center;
   
}
body{
    background-color:tomato;
}
#wrong{
    padding: 100px;
    max-width: 100px;
    background-color: red;
    font-size: larger;
    font-weight: bold;
    color: white;
    margin-top:5%;
}

#right{
    padding: 100px;
    max-width: 100px;
    background-color: green;
    font-size: larger;
    font-weight: bold;
    color: white;
    margin-top:8%;
}
input{
    margin-top: 40px;
    margin-bottom: 10px;;
}
a{
    text-decoration: none;
}