body{padding-top: 250px;}
h2{
    margin: auto;
    max-width: 400px;
    min-height: 100px;
    text-align: center;
    border-right:3px solid black;
    border-left:3px solid black;
    border-top:3px solid black;
    box-shadow: 3px 3px 3px gray;
}
div{
    font-size: larger;
    font-weight: bolder;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    border-right:3px ridge lightgreen;
    border-left:3px ridge lightgreen;
    border-bottom:3px ridge lightgreen;
    box-shadow: 3px 3px 3px greenyellow;
    max-width: 400px;
    min-height: 100px;
}