*{
    margin: 0px;
    padding: 0px;
}
#container{
    width: auto;
    margin: 0 auto;
    background-color: rgb(22, 21, 73);
    padding: 15px;
}
.top{
    width:auto;
    background-color: rgb(102, 32, 32);
    min-height: 100px;
    border-radius: 10px;
    color: white;
    margin: auto;
    
    
}
h1{
    padding: 25px;
}
.main{
    width:auto;
    background-color: rgb(22, 21, 73);
    min-height: 600px;
    border-radius: 10px;
    margin: auto;
    display: flex;
}
.nav{
    flex: 1;
    background-color:rgb(21, 92, 114);
    height: 300px;
    width: 50px;
    border-radius: 10px;
    margin-top: 15px;
    padding: 25px;
}
ul {
    margin-left:15px ;
    padding:10px;
}
.content{
    flex: 4;
    background-color: black;
    min-height: 600px;
    width:780px;
    border-radius: 10px;
    margin: 15px 2px 0px 15px;
    padding:25px 15px;
}
h2, p , li{
    color: white;
    margin:5px;
    
}

.foot{
    display: block;
    background-color: rgb(114, 106, 106);
    min-height: 30px;
    border-radius: 20px;
    margin: 15px 2px 1px 1px;
    padding: 15px;
}
span{
    color: blue;
}
a{
    color:white;
}