<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    {% load static %}
    <link rel="stylesheet" text="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div>
        <h1>Counter:</h1>
    <h1>{{counter}}</h1>
        <button type="submit"><a href="/reset">Reset</a></button>
        <button type="submit"><a href="/add2">Add 2</a></button>
        <form action="/increment" method="post">
            {%csrf_token%}
            <input type="submit" value="Add"><input type="number" name="increment">
            
        </form>
    </div>
    
</body>
</html>