<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo And Ninjas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="upper">
        <section>
            <h1>Add a Dojo</h1>
            <form action="/add" method="POST">
                {% csrf_token %}
                <input type="hidden" name="form1" value="dojo">
                <table>
                    <tr><td>Name:</td><td><input type="text" name="name"></td></tr>
                    <tr><td>City:</td><td><input type="text" name="city"></td></tr>
                    <tr><td>State:</td><td><input type="text" name="state"></td></tr>
                    <tr><td></td><td><button type="submit">Add</button></td></tr>
                </table>
            </form>
        </section>
        <section>
            <h1>Add a Ninja</h1>
            <form action="/add" method="POST">
                {% csrf_token %}
                <input type="hidden" name="form1" value="dojo">
                <table>
                    <tr><td>First Name:</td><td><input type="text" name="fname"></td></tr>
                    <tr><td>Last Name:</td><td><input type="text" name="lname"></td></tr>
                    <tr>
                        <td>Dojo:</td>
                        <td>
                            <select>
                                <option value="dojo1">dojo1</option>
                                <option value="dojo2">dojo2</option>
                                <option value="dojo3">dojo3</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td></td><td><button type="submit">Add</button></td></tr>
                </table>
            </form>
        </section>
    </div>
    <hr>
    <div class="lower">
        <h1>All the Dojos</h1>
    </div>
</body>
</html>