
.center-box {
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 300px;
    
}
.center-item {
    background-color: burlywood;

    width: 100px; 
    height: 100px;
}